body {
  margin: 0;
  padding: 0;
  font-family: 'Vazirmatn', Tahoma, sans-serif;
}

* {
  box-sizing: border-box;
  line-height: 1.6;
  font-family: 'Vazirmatn';
  margin: unset;
}

.input-box {
  @apply w-full p-3 rounded-lg border border-gray-300
         bg-white/60 backdrop-blur-md
         focus:ring-2 focus:ring-blue-500 outline-none;
}
